.title {
    background-color: #000063;
    background-repeat: repeat;
    opacity: 1;
    background-image: url("/Assets/Images/xnxx-banner-top.png");
  
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
  
      .logo {
        display: flex;
        align-items: flex-start;
  
        img {
          opacity: 1;
        }
      }
  
      .links {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        font-family:"sans-serif";
  
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  